 .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5e60ce;
    max-width: 100%
  }

  .container-input{
    display: flex;
    width: 100%;
  }
  .container-input .input-email{border-radius: 8px 0px 0px 0px}
  .container-input .input-pass{border-radius: 0px 8px 0px 0px; border-left: 1px solid #ccc;}
  .btn-login button{
    width:100%;
    height: 45px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    background: black;
    color: #fff;
    font-size: 1em
    }
      
 .input-email, .input-pass{
    height: 45px;
    width: 100%;
    border: none;
    padding: 0px 5px;
    font-size: 1em;
    color: black
  }

  .container-anclas a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff
  }

  .container-login .error-msg{
    color: red; 
    text-align: 
    center;padding: 12px; 
    background: #fff; 
    border-radius:5px;
    margin: 5px;
  }

  .container-anclas a:hover{
    text-decoration: underline;
    color: #fff
  }

  /*ESTILOS RESPONSIVE*/

  @media only screen and (min-width: 480px){

  }


