.container-subPanel{
	background: rgba(0,0,0, .7);
	width: 100%;
	height: 100vh;

	position: fixed;
	z-index: 4;
}

.container-sub_panelCarrito{
	background: #fff;
	width: 350px;
	height: 550px;
	position: fixed;
	z-index: 4;
	margin: 0% 35%;
	padding: 2%;
	border-radius: 5px;
	box-shadow: 1px 1px 15px black;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 1fr 30px;

}

.container-sub_panelCarrito h3{text-align: center;}

.inputs-sub_panelCarrito
{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 50px 60px 24px;
	margin-top: 4% 
}

.inputs-sub_panelCarrito h5
{
	margin: 0px 0px 5% 0px
}

.inputs-sub_panelCarrito input
{
	margin: 2.5% 0px;
	padding: 1%
}

.icon-cancel-circle
{
	position: fixed;
	z-index: 5;
	margin: 0% 63%;
}

.btn-sub_panelCarrito button{
	border: 1px solid #457b9d;
	background: transparent;
	padding: 2%;
	border-radius: 5px;
	color: #457b9d;
}

.btn-sub_panelCarrito button:hover{
	border:none;
	background: #457b9d;
	color: #fff;
}

.btn_tipoPago button{
	background: transparent;
	padding: 1%;
	margin: 0px 1%;
	border-radius: 5px;
	width: 130px
}

.btn_dinero{border: 1px solid #02c39a;color:#02c39a;}
.btn_dinero:focus{background:#02c39a ;color:#fff;}

.btn_tarjeta{border: 1px solid #5390d9;color: #5390d9;}
.btn_tarjeta:focus{background:#5390d9;color: #fff;}

.btn-sub_panelCarrito{text-align: center;}

/*RESPONSIVE*/

@media only screen and (max-width: 600px){
	.container-sub_panelCarrito{margin: 6%}
}

@media only screen and (max-width: 400px){
	.container-sub_panelCarrito{margin: 1%;height: 420px}
}