.container-pizza{
	max-width: 100%;
	background: #1c2541;
}

.container-pizza h1{
	position: relative;
	z-index: 1;
	color: #FFF;
	margin: 0px;
	padding: 1%;
	text-align: center;
	text-shadow: 1px 1px 1px black
}

.info-producto{
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:	185px
}

/*RESPONSIVE*/

@media only screen and (max-width: 600px){
	.info-producto{	grid-template-columns: 1fr}	
}