.container-home{
	max-width: 100%;
}

.container-banner{
	height: 88vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4em
}

.container-banner img{
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 97vh
}

.container-home .titulo-banner{
	margin: 0px 12px;
	position: relative;
	z-index: 2;
	color:#fff;
	text-shadow: 1px 1px 1px black
}

.container-home .subtitulo-banner{
	position: relative;
	z-index: 2;
	color:#fff;
	text-shadow: 1px 1px 1px black
}


.container-categorias{
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: -60px;
	z-index: 2;
	position: relative; 
}

.container-categorias p{
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	border-radius: 5px;
	background: rgb(26, 26, 26);
	color: #fff;
}

.container-categorias p:hover{background: #fff; color: black}
.container-titulos{text-align: center; margin-left: 3.5%}
.container-home .info-producto{position: absolute;}
.container-categorias a{text-decoration: none}
.img_bannerB{display: none}


/*RESPNSIVE*/

@media only screen and (max-width: 700px){
	.img_bannerA{display: none;}
	.img_bannerB{display: flex;}
	.container-titulos{margin-top: -65%}
}

@media only screen and (max-width: 600px){
	.img_bannerA{display: none;}
	.img_bannerB{display: flex;}
	.container-titulos{margin-top: -82%; margin-left: 1%}

	.container-categorias{margin: -106% 0px 0px 0px; display: grid; height: 196px}
	.container-categorias p{background: #e9ecef; color: #212529}

}