.container-burger{
	max-width: 100%;
	background: #1c2541;
}

.container-burger h1{
	position: relative;
	z-index: 1;
	color: #FFF;
	margin: 0px;
	padding: 1%;
	text-align: center;
	text-shadow: 1px 1px 1px black
}

.container-burger .info-producto{
	position: relative;
	z-index: 1;
	display: grid;
	grid-template-rows: 185px;
	margin: auto;
}

.container-listProducto{margin: 0px 4%}


/*RESPONSIVE*/

@media only screen and (max-width: 600px){
	.container-listProducto{margin: auto;}
	.container-burger .info-producto{display: block}
	.container-burger{margin-bottom: 59px}
}
