.container-pedidos{
	background: linear-gradient(to right, #7400b8 , #5390d9);
	width: 100%;
	display: flex;
	justify-content: center;
}

.container-list_pedidos{
	width: 80%;
	margin: 1% auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 340px 340px 340px 340px 340px 340px 340px 340px 340px 340px
}