.container-header{
	max-width: 100%;
	background: #0c0f0a;
	display: flex;
	justify-content: center;
	box-shadow: -1px 5px 5px rgba(0,0,0,0.6);
	position: relative;
	z-index: 2;
}

#main-header {
	width: 80%;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.routes-header {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.link{
	color: #fff;
	text-decoration: none;
	margin-right: 5%
}

.link a:hover{
	text-decoration: underline; 
}

a .icon-cart{text-decoration: none;}

.icon-cart{display: flex; align-items: center;}
.icon-cart p{padding: 0px 15%}
 
.container-header h2{color: #fff;}

.logo-header{display: flex;align-items: center;}
.logo-header img{width: 40px; height: 40px}