.items-producto{
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 25px 1fr;
	background: #fff;
	color: black;
	border-radius: 5px;
	padding: 2% 3%;
	width: 270px;
	height: 130px;
	margin: 5% auto;
	box-shadow: 2px 2px 2px rgba(0,0,0, .7)
}

.cantidades{
	display: flex; 
	height: 30px;  
	justify-content: space-between;
	align-items: center;
}
.btn-agregar{
	width: 120px;
	height: 30px;
	text-align: center;
	background: #212529;
	border-radius: 5px;
	padding-top: 1.2%;
	display: flex;
	justify-content: center;
}
.btn-agregar:hover{
	background: #343a40;
	box-shadow: .4px 1px #212529
}

.container-burger .funcionalidades-productos{ 
	margin: 1px;
	display: flex; 
	justify-content: center;
}



.funcionalidades-productos .count-producto{
	padding: 2%;
	align-items: center;
	display: flex;
}

.btn-eliminar, .btn-editar{
	background: transparent;
	padding: 4px;
	border-radius: 4px;
	width: 45%;
}

.btn-eliminar{border: 1px solid red; color: red; margin-top: 1.5%}
.btn-editar{border: 1px solid #046E8F; color:#046E8F; margin-top: 1.5%}

.btn-eliminar:hover{background: red; color: #fff;}
.btn-editar:hover{background: #046E8F; color:#fff;}

.btn-eliminar:focus{outline: none}
.btn-editar:focus{outline: none}

.cantidades{margin:0px}
.titulo-producto h4{margin:0px 5px; color: green}
.titulo-producto{display: flex; justify-content: center;}
.info-producto p{margin: 5px}
.description{display: flex;}

.funcionalidades-productos button{background: black; color: #fff;}
h5{position: absolute; z-index:1}