*{
	margin: 0;
	padding: 0;
	outline:  0;
	box-sizing: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	background: #c9c9c9;
	color: #333;
}
button:focus {
  outline: none;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?939x16');
  src:  url('fonts/icomoon.eot?939x16#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?939x16') format('truetype'),
    url('fonts/icomoon.woff?939x16') format('woff'),
    url('fonts/icomoon.svg?939x16#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
  font-size: 35px
}
.icon-cart:before {
  content: "\e93a";
}
.icon-cog:before {
  content: "\e994";
  font-size: 35px
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-truck:before {
  content: "\e9b0";
  font-size: 35px
}
.icon-switch:before {
  content: "\e9b6";
  font-size: 35px
}
.icon-loop2:before {
  content: "\ea2e";
}

.container-Headermobil .mobil-cart{font-size: 35px;color: #003049;}
.icon-cancel-circle{color: red; font-size:1.5em;}
.icon-cart{color: #FFF; font-size:1.5em;}

.link-cart{text-decoration: none; }
.link-cart:hover{text-decoration: none; }