.container-carrito{
	background: linear-gradient(to right, #05668d , #02c39a);
	height: 100vh
}
.container-carrito .items-cart {
	width: 100%;
	text-align: center;
	margin: 2% auto;
}

.container-items_compras{
	display: flex;
	margin: auto;
	display: flex;
	margin: 2% auto;
	justify-content: center;
}