.container-carrito{
	background: linear-gradient(to right, #05668d , #02c39a);
	height: 200vh
}
.container-carrito .items-cart {
	width: 100%;
	text-align: center;
}

.container-items_compras{
	display: flex;
	margin: auto;
	display: flex;
	margin: 2% auto;
	justify-content: center;
}

.items-cart {
	color: #fff;
	height: 92.8vh
}


.carrito-titulo{
	padding-top: 5% 
}

/*RESPONSIVE*/

